@use "../variables";

.card {
    border: 1px solid variables.$color-main;
    border-radius: 8px;
    padding: 8px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    background-color: variables.$color-background-card;
    height: 420px;
    max-height: 420px;
    display: flex;
    flex-direction: column;
    overflow: hidden;

    &__link {
        text-decoration: none;
    }

    &__image {
        max-width: 100%;
        height: 300px;
        min-height: 300px; 
        width: 100%;
        object-fit: cover;
        border-radius: 4px;
        margin-bottom: 6px;
    }
    
    &__title{
        margin-top: 0;
        margin-bottom: 4px;
        font-size: 1.1rem;
        color: variables.$color-main;
        flex-shrink: 0;
    }
    
    &__description {
        flex: 1;
        margin: 0;
        font-size: 0.85rem;
        line-height: 1.2;
        color: variables.$color-background-contrast;
    }

    &:hover {
        box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    }
}

.hvr-radial-out:before {
    background: variables.$color-background-card-hover;
}