@use "../mixins";
@use "../variables";

.site-header {
  background-color: variables.$color-main;
  color: variables.$color-main-contrast;
}

.main-nav {

  &__list {
    display: flex;
    flex-direction: column;
    align-items: center;
    list-style: none;
    gap: 20px;
  }

  &__link {
    text-decoration: none;
    color: variables.$color-main-contrast;
    font-weight: bold;
    padding: 8px 15px;
    display: block;

    &:hover {
      text-decoration: underline;
      text-decoration-color: variables.$color-accent;
      text-decoration-thickness: 5px;
      text-underline-offset: 10px;
    }
  }

  &__link--active {
    background-color: variables.$color-accent;
    border-radius: 8px;
    color: variables.$color-accent-contrast;

    &:hover {
      text-decoration: none;
    }
  }
}


@include mixins.respond-desktop {
  
  .main-nav__list {
    flex-direction: row;
  }
}