@use "../mixins";
@use "../variables";

.site-header {
  background-color: variables.$color-main;
  color: variables.$color-main-contrast;
  padding: 20px;

  &__content {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  &__logo {
    height: 60px;
    display: block;
    margin: 0 auto 25px auto;
  }

  &__title {
    text-decoration: none;
    color: variables.$color-main-contrast;
    text-align: center;
    font-size: 2rem;
    margin: 0 0 40px 0;
  }
}

.main-nav {

  &__list {
    display: flex;
    flex-direction: column;
    align-items: center;
    list-style: none;
    gap: 20px;
  }

  &__link {
    text-decoration: none;
    color: variables.$color-main-contrast;
    font-weight: bold;
    padding: 8px 15px;
    display: block;

    &:hover {
      text-decoration: underline;
      text-decoration-color: variables.$color-accent;
      text-decoration-thickness: 5px;
      text-underline-offset: 10px;
    }
  }

  &__link--active {
    background-color: variables.$color-accent;
    border-radius: 8px;
    color: variables.$color-accent-contrast;

    &:hover {
      text-decoration: none;
    }
  }
}


@include mixins.respond-desktop {
  
  .site-header {
    
    &__content {
      flex-direction: row;
      align-items: center;
      max-width: 1200px;
      margin: 0 auto;
    }

    &__logo {
      margin: 0 20px 0 20px;
    }

    &__title {
      text-align: left;
      margin: 0;
      margin-right: auto;
    }
  }

  .main-nav__list {
    flex-direction: row;
    justify-content: flex-start;
  }
}