<footer class="site-footer">
  <ul class="site-footer__list">
    <li class="site-footer__item">
      <a class="site-footer__link" href="https://www.uoc.edu/" target="_blank">
        <i aria-hidden="true" class="site-footer__icon fas fa-university"></i>
        UOC 2025
      </a>
    </li>
    <li class="site-footer__item">
      <i aria-hidden="true" class="site-footer__icon fas fa-book"></i>
      Herramientas HTML y CSS II
    </li>
    <li class="site-footer__item">
      <a class="site-footer__link" href="https://dcordero.me" target="_blank">
        <i aria-hidden="true" class="site-footer__icon fas fa-user"></i>
        David Cordero Ramirez
      </a>
    </li>
  </ul>
</footer>
