<header class="site-header">
    <img class="site-header__logo" src="assets/images/logo.png" alt="Escudo de la ciudad de Zurich">

    <a class="site-header__title" href="/">
        Stadt Zürich
    </a>

    <nav class="main-nav">
        <ul class="main-nav__list">
            <li>
                <a class="main-nav__link main-nav__link--active" href="index.html">
                    <i class="site-footer__icon fas fa-home"></i>
                    Inicio
                </a>
            </li>
            <li>
                <a class="main-nav__link" href="#">
                    <i class="site-footer__icon fas fa-cubes"></i>
                    Servicios
                </a>
            </li>
            <li>
                <a class="main-nav__link" href="#">
                    <i class="site-footer__icon fas fa-envelope"></i>
                    Contacto
                </a>
            </li>
            <li>
                <a class="main-nav__link" href="#">
                    <i class="site-footer__icon fas fa-address-card"></i>
                    Acerca de
                </a>
            </li>
        </ul>
    </nav>
</header>